In [1]:

# Exercise 2: Create markdown cell with title of the notebook

# Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

In [2]:
# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [18]:
# Exercise 10 - Insert a markdown cell to list Objectives
# Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). 
# In this new cell start with an introductory line titled: Objectives: in bold font. 
# Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

**Objectives:**
- List popular languages for Data Science
- List Data Science Libraries
- Create Tables in Markdown
- Create ordered and unordered lists in Markdown
- Demonstrate your proficiency in using Code and Markdown in Jupyter notebooks

In [3]:
# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

In [5]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Matplotlib

In [6]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
| Python             |
| Jupyter            |
| RStudio            |
| Numpy              |

In [8]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples
# Add a line in this cell with H3 style heading with text like:
# Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python: 

##### Example 1 - Adding two numbers
5 + 3

##### Example 2 - Multiplying and dividing numbers
(10*4)/2

In [9]:
# Exercise 8 - Create a code cell to multiply and add numbers

# In this code cell evaluate the expression (3*4)+5.

# Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.

# Then execute the cell to ensure the expression returns the expected output of 17.

In [15]:
print ("This a simple arithmetic expression to multiply then add integers:")

(3*4)+5

This a simple arithmetic expression to multiply then add integers:

17

In [16]:
# Exercise 9 - Create a code cell to convert minutes to hours
# In this code cell write an expression that converts 200 minutes into hours.
# Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.
# Run the cell to evaluate the expression.

In [17]:
print ("This will convert 200 minutes to hours by diving by 60:") 
200/60

This will convert 200 minutes to hours by diving by 60:

3.3333333333333335

In [ ]:
# Exercise 10 - Insert a markdown cell to list Objectives
# Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). 
# In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

In [19]:
# Exercise 11 - Create a markdown cell to indicate the Author's name
# In this markdown cell markdown cell include the following text Author in H2 style heading.
# Include your name as regular text below the word Author.


## Author

Fulden Cetin